body {
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
}

*:focus {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}

@media (hover: none) {
  *:active {
    outline: none;
  }
}

::selection {
  background-color: #a1e681;
}

#scrollBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  background-color: #41ad0f;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
  outline: none;
}
#scrollBtn:hover {
  background-color: #4CBB17;
}

h4 {
  color: #164500;
  font-size: 35px;
  margin-top: 15px;
  text-align: center;
}

header {
  background-color: #51c01e;
  color: #ffffff;
  padding: 3px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header-grid {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  display: grid;
  grid-template-columns: auto 1fr auto; 
  align-items: center;
  justify-content: space-between;
}

.menu {
  top: 0;
  background-color: #1f6002;
}

.menu-content {
  display: flex;
  list-style-type: none;
  margin: 0;
  top: 0;
  padding: 2px 15px; 
}

#openDialogBtn {
  color: white;
  font-size: 18px;
  background-color: #00000000;
  font-family: 'Poppins';
  border: 0;
}

.dialog-container {
  display: none;
  position: fixed;
  top: 0;
  right: -100%; 
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); 
  transition: right 0.5s ease-in-out; 
  z-index: 1000;
}

.dialog-content {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 70%;
  height: 60%;
  margin: 35px;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 20px 30px rgba(0,0,0,.05)
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 30px;
  color: #000;
}

.other-links {
  list-style-type: none;
  padding: 0;
}
.other-links li {
  margin-bottom: 10px;
}
.other-links a {
  margin-bottom: 15px;
  text-decoration: none;
  color: #000000;
  font-size: 15px;
}

.other-links a:hover {
  color: #4CBB17;
}

.navbar {
  background-color: #1f6002;
  color: #fff;
}

.nav-links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 10px 20px; 
}

.nav-links li {
  margin-right: 20px; 
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.logo img {
  margin: 10px;
  margin-bottom: 0;
  margin-top: 0;
  width: 80px;
  height: 80px;
}

.school-info {
  text-align: left;
}

.school-name {
  margin: 0;
  margin-top: 15px;
  font-size: 24px; 
}

.slogan {
  margin-top: 5px;
  font-size: 16px;
}

.footer {
  background-color: #4CBB17;
  color: #fff;
  text-align: center;
  padding: 5px;
}

.footer p {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.principal-container {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.principal-section {
  margin-bottom: 0;
  background-color: #e8f4e7;
}

.principal-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr auto; 
  gap: 20px; 
  align-items: center;
}
.principal-section {
  margin-bottom: 40px;
}
.principal-info img {
  width: 180px;
  height: 180px;
  margin-top: 35px;
  margin-right: 30px;
  justify-self: end; 
}
.principal-name {
  color: #4CBB17;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 0;
}
.message {
  font-size: 18px;
  line-height: 1.5;
  margin-left: 100px;
  margin-top: 0;
  margin-bottom: 0;
}

.message h1 {
  color: #164500;
  font-size: 30px;
  margin-bottom: 0;
}

.location-section {
  opacity: 0;
  animation: fadeIn 3s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.location-section {
  margin-top: 0;
  background-color: #ffffff;
  padding: 40px 0;
}

.location-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.location-heading {
  color: #164500;
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}

.location-info {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.location-map img {
  max-width: 100%;
  height: auto;
}

.location-details {
  flex: 1;
}

iframe {
  border-radius: 5px;
}

.social-icon {
  display: inline-block;
  font-size: 36px; 
  color: #4CBB17;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out; 
}

.social-icon:hover {
  color: #026c39; 
  animation: pulse 1s infinite alternate;
}

.introduction {
  background-color: #fff;
  box-shadow: 0 20px 30px rgba(0,0,0.1.1,.05);
  border-bottom: 5px solid #4CBB17; 
  padding: 50px;
}

.introduction {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.intro-image {
  text-align: left;
  margin-bottom: 20px; 
}

.intro-image img {
  max-width: 100%;
  border-radius: 8px; 
}

.intro-content {
  text-align: left;
}


.notice-section {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.notice-board {
  max-width: 800px;
  margin: 20px auto;
  overflow: hidden;
  border: 1px solid #ccc;
}

.notice-board-title {
  text-align: center;
  color: #164500;
  font-size: 30px;
}

.notice-container {
  display: flex;
  flex-direction: column;
  animation: scroll-notice 15s linear infinite;
}

.notice-container2 {
  display: flex;
  flex-direction: column;
}

.notice-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  gap: 20px;
  padding: 20px; 
}

.introduction,
.notice-section {
  background-color: #fff;
  box-shadow: 0 20px 30px rgba(0,0,0.1,.05);
  border-bottom: 5px solid #4CBB17;
  border-radius: 0;
  padding: 20px;
}

.intro-image img {
  max-width: 100%;
}

.notice-container {
  max-height: 500px;
}

.notice-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.notice-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.notice-content {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
}

.notice-date {
  background-color: #007bff;
  color: #ffffff;
  padding: 5px 10px;
  display: inline-block;
  margin-top: 5px;
}

.attachment-link {
  display: inline-block;
  padding: 5px 10px;
  background-color: #4CBB17;
  color: #fff;
  text-decoration: none;
}

.attachment-link:hover {
  background-color: #195000;
}

@keyframes scroll-notice {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-100% - 10px)); 
  }
}

.textbook-container {
  font-family: 'Poppins';
  max-width: 100%;
  margin: 20px;
  text-align: center;
}

#classSelect {
  font-family: 'Poppins';
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.download-button {
  text-align: center;
  font-family: 'Poppins';
}

input {
  font-family: 'Poppins';
}

select {
  font-family: 'Poppins';
  width: 100%;
  padding: 12px;
  border: 2px solid #4CBB17;
  margin-bottom: 20px;
  font-size: 16px;
  appearance: none; 
  background-color: #ffffff; 
  color: #333;
}

option {
  top: 5px;
  font-size: 16px;
  background-color: #fff;
}

#downloadBtn {
  font-family: 'Poppins';
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CBB17;
  color: #fff;
  border: none;
  cursor: pointer;
}

#downloadBtn:hover {
  background-color: #195000;
}

.profile-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px; 
  max-width: 1200px; 
  margin: 20px auto;
}

.profile-card {
  max-width: 250px;
  margin: 20px auto;
  background-color: #ffffff;
  border: #CCC 1px solid;
}

.profile-header {
  text-align: center;
  padding: 20px;
}

.profile-header img {
  margin-top: 10px;
  width: 150px;
  height: 150px;
}

.profile-header h1 {
  font-size: 25px;
  margin: 10px 0;
  color: #000000;
}

.profile-header p {
  margin-bottom: 0;
}

.profile-details {
  padding: 20px;
}

.profile-details strong {
  font-weight: bold;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .footer p {
    font-size: 14px;
  }
  .principal-container {
    grid-template-columns: auto; 
    justify-content: center;
    text-align: center; 
  }

  .principal-info {
    display: flex; 
    flex-direction: column-reverse; 
    align-items: center; 
  }

  .principal-info img {
    margin-left: 0; 
  }

  .principal-name {
    color: #4CBB17;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
  }
  .message {
    color: #212121;
    font-size: 15px;
    line-height: 1.5;
    text-align: justify;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .message h1 {
    color: #164500;
    text-align: center;
    font-size: 30px;
    margin-bottom: 0;
  }

  .location-info {
    flex-direction: column;
  }

  iframe {
    width: 100%;
    border-radius: 5px;
  }

  .grid-container {
    display: block; 
  }

  .developers-list {
    display: block; 
  }

  .credits-section {
    display: block; 
    margin-left: 10px;
  }

  .introduction{
    margin-bottom: 20px;
  }

  .header-grid {
    display: grid;
    grid-template-columns: auto 1fr; 
    align-items: center;
    justify-content: center;
  }
  
  .logo img {
    width: 60px; 
    height: 60px;
  }
  
  .school-info {
    text-align: left; 
  }
  
  .school-name {
    margin: 0;
    font-size: 15px; 
    margin-top: 10px;
  }
  
  .slogan {
    margin-top: 5px;
    font-size: 12px; 
  }
  
  nav {
    display: none; 
  }

  .notice-container2 {
    display: flex;
    flex-direction: column;
  }

  .notice-box {
    margin: 30px;
  }

  .menu {
    margin-top: 0;
    background-color: #1f6002;
  }

  .profile-grid {
    grid-template-columns: repeat(1, 1fr); 
    margin: 20px auto; 
  }

  .profile-card {
    max-width: 100%; 
  }

  .profile-header h1 {
    font-size: 20px;
    margin: 10px 0;
    color: #000000;
  }
}

@media only screen and (min-width: 768px) {
  #openDialogBtn {
    display: none;
  }

  .navbar {
    background-color: #1f6002;
    color: #fff;
    margin-top: 30px;
  }
}

.header-grid {
  display: grid;
  grid-template-columns: auto 1fr auto; 
  align-items: center;
}


.highlight-section {
  background-color: #e8f4e7;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.highlight-box {
  margin: 20px;
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 0 20px 30px rgba(0,0,0,.05)
}


.highlight-icon {
  text-align: center;
}

.star {
  font-size: 35px;
  color: #4CBB17;
}

.highlight-content {
  text-align: center;
  margin: 10px;
}

@media (max-width: 768px) {
  .highlight-section {
    grid-template-columns: repeat(1, 1fr); 
  }
}
