body {
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
}

#scrollBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  background-color: #41ad0f;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
  outline: none;
}
#scrollBtn:hover {
  background-color: #4CBB17;
}

header {
  background-color: #51c01e;
  color: #ffffff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 3px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header-grid {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  display: grid;
  grid-template-columns: auto 1fr auto; 
  align-items: center;
  justify-content: space-between;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.main-menu {
  display: flex;
  margin-left: 400px;
  list-style-type: none;
  padding: 0;
}

.main-menu li {
  margin-left: 20px;
}

.main-menu li a {
  text-decoration: none;
  color: #ffffff;
}

nav {
  text-align: right; 
  margin-right: 20x;
}

nav a {
  color: #ffffff;
  text-decoration: none;
}

nav a:hover {
  color: #fffc36;
}

.logo img {
  margin: 10px;
  margin-bottom: 0;
  margin-top: 0;
  width: 80px;
  height: 80px;
}

.school-info {
  text-align: left;
}

.school-name {
  margin: 0;
  margin-top: 15px;
  font-size: 24px; 
}

.slogan {
  margin-top: 5px;
  font-size: 16px;
}

#openDialogBtn {
  background-color: #00000000;
  border: none;
  color: #fff;
  bottom: 0;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 30px;
  margin-left: 100px; 
}

.dialog-container {
  display: none;
  position: fixed;
  top: 0;
  right: -100%; 
  width: 100%;
  height: 100%;
  background-color: rgba(12, 23, 5, 0.8); 
  transition: right 0.5s ease-in-out; 
  z-index: 1000;
}

.dialog-content {
  text-align: left;
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  width: 70%;
  height: 70%;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #000;
}

.other-links {
  list-style-type: none;
  padding: 0;
  margin-right: 50px;
}

.other-links a {
  text-decoration: none;
  color: #000000;
  font-size: 15px;
  margin-right: 50px;
}

.other-links a:hover {
  color: #4CBB17;
}

.footer {
  background-color: #4CBB17;
  color: #fff;
  text-align: center;
  padding: 5px;
}

.footer p {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.principal-container {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



.principal-section {
  margin-bottom: 0;
  background-color: #e8f4e7;
}

.principal-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr auto; 
  gap: 20px; 
  align-items: center;
}
.principal-section {
  margin-bottom: 40px;
}
.principal-info img {
  width: 180px;
  height: 180px;
  margin-top: 35px;
  margin-right: 30px;
  justify-self: end; 
}
.principal-name {
  color: #4CBB17;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 0;
}
.message {
  font-size: 18px;
  line-height: 1.5;
  margin-left: 100px;
  margin-top: 0;
  margin-bottom: 0;
}

.message h1 {
  color: #164500;
  font-size: 30px;
  margin-bottom: 0;
}

.location-section {
  opacity: 0;
  animation: fadeIn 3s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.location-section {
  margin-top: 0;
  background-color: #ffffff;
  padding: 40px 0;
}

.location-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.location-heading {
  color: #164500;
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}

.location-info {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.location-map img {
  max-width: 100%;
  height: auto;
}

.location-details {
  flex: 1;
}

iframe {
  border-radius: 5px;
}

.social-icon {
  display: inline-block;
  font-size: 36px; 
  color: #4CBB17;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out; 
}

.social-icon:hover {
  color: #026c39; 
  animation: pulse 1s infinite alternate;
}

.introduction {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-bottom: 5px solid #4CBB17; 
  padding: 50px;
}

.introduction {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.intro-image {
  text-align: left;
  margin-bottom: 20px; 
}

.intro-image img {
  max-width: 100%;
  border-radius: 8px; 
}

.intro-content {
  text-align: left;
}


.notice-section {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.notice-board {
  max-width: 800px;
  margin: 20px auto;
  overflow: hidden;
  border: 1px solid #ccc;
}

.notice-board-title {
  text-align: center;
  color: #164500;
  font-size: 30px;
}

.notice-container {
  display: flex;
  flex-direction: column;
  animation: scroll-notice 15s linear infinite;
}

.notice-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  gap: 20px;
  padding: 20px; 
}

.introduction,
.notice-section {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-bottom: 5px solid #4CBB17;
  border-radius: 0;
  padding: 20px;
}

.intro-image img {
  max-width: 100%;
}

.notice-container {
  max-height: 500px;
}

.notice-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.notice-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.notice-content {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
}

.notice-date {
  background-color: #007bff;
  color: #ffffff;
  padding: 5px 10px;
  display: inline-block;
  margin-top: 5px;
}

.attachment-link {
  display: inline-block;
  padding: 5px 10px;
  background-color: #4CBB17;
  color: #fff;
  text-decoration: none;
}

.attachment-link:hover {
  background-color: #195000;
}

@keyframes scroll-notice {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-100% - 10px)); 
  }
}

@media (max-width: 768px) {
  .principal-container {
    grid-template-columns: auto; 
    justify-content: center;
    text-align: center; 
  }

  .principal-info {
    display: flex; 
    flex-direction: column-reverse; 
    align-items: center; 
  }

  .principal-info img {
    margin-left: 0; 
  }

  .principal-name {
    color: #4CBB17;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
  }
  .message {
    color: #212121;
    font-size: 15px;
    line-height: 1.5;
    text-align: justify;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .message h1 {
    color: #164500;
    text-align: center;
    font-size: 30px;
    margin-bottom: 0;
  }

  .location-info {
    flex-direction: column;
  }

  iframe {
    width: 100%;
    border-radius: 5px;
  }

  .grid-container {
    display: block; 
  }

  .developers-list {
    display: block; 
  }

  .credits-section {
    display: block; 
  }

  .introduction{
    margin-bottom: 20px;
  }

  .header-grid {
    display: grid;
    grid-template-columns: auto 1fr; 
    align-items: center;
    justify-content: center;
  }
  
  .logo img {
    width: 60px; 
    height: 60px;
  }
  
  .school-info {
    text-align: left; 
  }
  
  .school-name {
    margin: 0;
    font-size: 12px; 
    margin-top: 10px;
  }
  
  .slogan {
    margin-top: 5px;
    font-size: 12px; 
  }
  
  nav {
    display: none; 
  }
}


@media only screen and (min-width: 768px) {
  #openDialogBtn {
    display: none;
  }
}


.header-grid {
  display: grid;
  grid-template-columns: auto 1fr auto; 
  align-items: center;
}

.credits-section {
  padding: 50px;
  text-align: center;
}

.credits-heading {
  text-align: center;
  color: #164500;
  font-size: 30px;
}

.developers-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.developer-item {
  width: 200px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.developer-item img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 10px;
}

.developer-item h3 {
  margin-bottom: 5px;
  font-size: 18px;
}

.developer-item p {
  font-size: 14px;
  color: #666;
}
